html {
  height: 100%;
}
body {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 0;
  height: 100%;
}
input {
  width: 50%;
}
#merchant-search {
  background-color:lightblue;
  height: 90%;
}
#merchant-search-text {
  background-color: white;
  border: 1px solid #f0f0f0;
}
#merchant-search-type {
  background-color: white;
  border: 1px solid #f0f0f0;
}
.type-button {
  border: 1px solid #f0f0f0;
  width:150px;
}
